poetry.lock linguist-generated=true
setup.py linguist-generated=true
doc/changes/changelog.md linguist-generated=true
exasol/slc/version.py linguist-generated=true
/.github/workflows/build-and-publish.yml linguist-generated=True
/.github/workflows/cd.yml linguist-generated=True
/.github/workflows/check-release-tag.yml linguist-generated=True
/.github/workflows/checks.yml linguist-generated=True
/.github/workflows/ci.yml linguist-generated=True
/.github/workflows/gh-pages.yml linguist-generated=True
/.github/workflows/matrix-python.yml linguist-generated=True
/.github/workflows/merge-gate.yml linguist-generated=True
/.github/workflows/pr-merge.yml linguist-generated=True
/.github/workflows/report.yml linguist-generated=True
