[tool.poetry]
name = "exasol-script-languages-container-tool"
version = "0.18.0"
description = "Script Languages Container Tool"

license = "MIT"

authors = [
    "Torsten Kilias <torsten.kilias@exasol.com>"
]

readme = 'README.md'  # Markdown files are supported

repository = "https://github.com/exasol/script-languages-container-tool"
homepage = "https://github.com/exasol/script-languages-container-tool"

keywords = ['exasol', 'udf', 'script-languages']

[tool.poetry.dependencies]
python = ">=3.8,<4"
importlib_metadata = ">=4.6.0"
importlib-resources = ">=5.4.0"
networkx = "2.8.2" # We pinned networkx to this version, because in newer versions it throws an exception, see https://github.com/exasol/integration-test-docker-environment/issues/228
exasol-integration-test-docker-environment = "^1.7.1"
typeguard = "<3.0.0"
configobj = "^5.0.8"

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dev-dependencies]
toml = ">=0.10.2"


[tool.poetry.scripts]
exaslct = 'exasol_script_languages_container_tool.main:main'
