name: CI

on:
  push:

jobs:
  test-docker-starter:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Test ./exaslct
        run: ./exaslct --help

  test-installer:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: "Run installer/tests/test_installer_current_ref_default_environment.sh"
        run: "bash installer/tests/run_tests.sh"

  test-all:
    strategy:
      fail-fast: false
      matrix:
        exasol_version:
          - "default"
        python_version:
          - 3.6
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python 3.6 for integration-test-docker-environment
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Install Poetry
        uses: abatilo/actions-poetry@v2.0.0

      - name: Run all tests
        run: ./run_all_tests.sh

      - name: Test ./exaslct-with-poetry
        run: ./exaslct-with-poetry --help

  publish:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: publish
    steps:
      - uses: actions/checkout@v2
      - name: Build new Docker image
        run: "bash starter_scripts/build_docker_runner_image.sh"
      - name: Docker login
        run: echo "$SECRET_DOCKER_TOKEN" | docker login --username "$SECRET_DOCKER_USER_NAME" --password-stdin
        env: # Set the secret as an input
          SECRET_DOCKER_USER_NAME: ${{ secrets.DOCKER_USER_NAME }}
          SECRET_DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
      - name: Push new Docker image
        run: "bash starter_scripts/push_docker_runner_image.sh"

