name: CI

on:
  push:

jobs:
  test-docker-starter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Test ./exaslct
        run: ./exaslct --help

  prep-testbed:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - id: set-matrix
        run: |
          sudo apt-get install jq
          echo "::set-output name=matrix::$(bash ./scripts/test/get_all_tests.sh)"
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

  test-all:
    needs: prep-testbed
    environment: ci_test
    strategy:
      fail-fast: false
      matrix:
        exasol_version:
          - "default"
        python_version:
          - 3.10
        test-path: ${{fromJson(needs.prep-testbed.outputs.matrix)}}
    runs-on: ubuntu-latest
    name: ${{ matrix.test-path.name }}
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/prepare_poetry_env

      - name: Test exaslct_with_poetry
        run: ./scripts/test/exaslct_with_poetry.sh --help

      - name: Run all tests
        run: ./scripts/test/run_test.sh ${{ matrix.test-path.path }}
        env: # Set the secret as an input
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASSWD: ${{ secrets.DOCKER_PASSWD }}

  publish-main:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: publish
    steps:
      - uses: actions/checkout@v3
      - name: Build new Docker image
        run: "bash scripts/build/build_docker_runner_image.sh"
      - name: Docker login
        run: echo "$SECRET_DOCKER_TOKEN" | docker login --username "$SECRET_DOCKER_USER_NAME" --password-stdin
        env: # Set the secret as an input
          SECRET_DOCKER_USER_NAME: ${{ secrets.DOCKER_USER_NAME }}
          SECRET_DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
      - name: Push new Docker image
        run: "bash scripts/build/push_docker_runner_image.sh main"